.order-button_type_about {
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding: 24px 0;
}

@media screen and (max-width: 1279px) {
  .order-button_type_about {
    font-size: var(--primary-font-size-m);
    padding: 15px 0;
  }
}