.order-button_type_footer {
  font-style: italic;
  padding: 24px 52px;
}

@media screen and (max-width: 1279px) {
  .order-button_type_footer {  
    font-size: var(--primary-font-size-m);
    padding: 15px 52px;
  }
}