.social {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__link {
  display: block;
  height: 24px;
  width: 24px;
}

.social__image {
  fill: #D5C9BE;
  height: 24px;
  transition: fill .3s ease-out;
  width: 24px;
}

.social__link:hover .social__image {
  fill: var( --primary-color);
}

@media screen and (max-width: 767px) {
  .social {
    gap: 25px;
  }

  .social__link {
    height: 20px;
    width: 20px;
  }
  
  .social__image {
    height: 20px;
    width: 20px;
  }
}