.intro {
  align-items: center;
  background: var(--primary-bg-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  font: var(--primary-font-size-xxl) var(--primary-font);
  line-height: var(--font-line-heigth-xs);
  position: relative;
  width: 100%;
}

.intro::after {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
              image-set(
                url('/assets/images/intro/intro-bg@1x.webp') type('image/webp') 1x,
                url('/assets/images/intro/intro-bg@2x.webp') type('image/webp') 2x,
                url('/assets/images/intro/intro-bg@1x.jpg') type('image/jpeg') 1x,
                url('/assets/images/intro/intro-bg@2x.jpg') type('image/jpeg') 2x
              ) center / cover no-repeat;
  content: '';
  inset: 0 0 0 auto;
  position: absolute;
  width: 39.74%;
}

.intro__substrate {
  position: relative;
  width: 100%;
}

.intro__wrapper {
  margin-bottom: 50px;
  max-width: 1600px;
  padding-top: 203px;
  position: relative;
  width: 92%;
  z-index: 10;
}

.intro__container {
  max-width: 53.5%;
  width: 100%;
}

.intro__title {
  font: var(--secondary-font-size-xxl) var(--secondary-font);
  line-height: var(--font-line-heigth-s);
  margin: 0 0 15px;
}

.intro__subtitle {
  font: var(--primary-font-size-xxxl) var(--primary-font);
  line-height: var(--font-line-heigth-s);
  margin: 0 0 42px;
}

.intro__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  list-style: none;
  margin: 0 0 29px;
  padding: 0;
}

.intro__item {
  align-items: center;
  display: flex;
  gap: 17px;
  padding-left: 4px;
}

.intro__image {
  height: 37px;
  width: 39px;
}

.intro__text {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.intro__subtext {
  font: var(--secondary-font-size-l) var(--secondary-font);
  letter-spacing: calc(1em/25);
  line-height: var(--font-line-heigth-xl);
  margin-right: 15px;
  padding-left: 7px;
}

@media screen and (max-width: 1279px) {
  .intro::after {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                image-set(
                  url('/assets/images/intro/intro-bg@1x.webp') type('image/webp') 1x,
                  url('/assets/images/intro/intro-bg@2x.webp') type('image/webp') 2x,
                  url('/assets/images/intro/intro-bg@1x.jpg') type('image/jpeg') 1x,
                  url('/assets/images/intro/intro-bg@2x.jpg') type('image/jpeg') 2x
                ) center / cover no-repeat;
    width: 100%;
  }

  .intro__wrapper {
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }

  .intro__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    text-align: center;
    width: 100%;
  }

  .intro__title {
    font-size: var(--secondary-font-size-xl);
    max-width: 600px;
  }

  .intro__subtitle {
    font-size: var(--primary-font-size-xxl);
  }

  .intro__list {
    align-self: start;
  }

  .intro__item {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    font-size: var(--primary-font-size-xl);
  }

  .intro__wrapper {
    padding-top: 80px;
  }

  .intro__title {
    font-size: var(--secondary-font-size-l);
    max-width: 400px;
  }

  .intro__subtitle {
    margin: 0 0 30px;
  }

  .intro__list {
    align-self: center;
  }

  .intro__item {
    gap: 10px;
  }

  .intro__image {
    height: 27px;
    width: 29px;
  }

  .intro__subtext {
    font-size: var(--secondary-font-size-s);
    margin-right: 6px;
    padding-left: 6px;
  }
}