.header {
  display: flex;
  justify-content: center;
  padding: 33px 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header__wrapper {
  max-width: 1600px;
  width: 100%;
}

.header__container {
  align-items: center;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  max-width: 52.93%;
  width: 100%;
}

@media screen and (max-width: 1739px) {
  .header__wrapper {
    width: 92%;
  }
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 20px 0;
  }
  

  .header__wrapper {
    width: 95%;
  }

  .header__container {
    max-width: none;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    align-items: start;
    flex-direction: column;
    gap: 20px;
  }
}