.order-button {
  background: var(--primary-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 0px 2px var(--primary-color) inset;
  color: var(--primary-bg-color);
  cursor: pointer;
  display: inline-block;
  font: var(--primary-font-size-xl) var(--primary-font);
  letter-spacing: calc(1em/25);
  line-height: var(--font-line-heigth-xl);
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .3s ease-out,
              color .3s ease-out;
}

.order-button:hover {
  background: var(--primary-bg-color);
  color: var(--primary-color);
}