.order {
  background: var(--secondary-bg-color);
  display: flex;
  justify-content: center;
  padding: 100px 0;
  width: 100%;
}

.order__wrapper {
  background: var(--primary-color);
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  max-width: 1600px;
  width: 92%;
}

.order__container {
  padding: 72px 74px 72px 134px;
  width: 62%;
  box-sizing: border-box;
}

.order__title {
  color: #38535D;
  font: var(--secondary-font-size-xl) var(--secondary-font);
  line-height: var(--font-line-heigth-xs);
  max-width: 560px;
  margin: 0 0 45px;
}

.order__image-wrap {
  position: relative;
  width: 38%;
}

.order__bg-image {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.order__image-container {
  position: absolute;
  inset: -8% 0 0;
}

.order__image {
  height: 100%;
  left: 50%;  
  max-width: 609px;
  position: relative;
  transform: translateX(-50%);
}

@media screen and (max-width: 1279px) {
  .order__wrapper {
    padding: 36px 66px;
    width: 95%;
  }
}